<!DOCTYPE html>
<html lang="en">
{% include 'page-head.html' %}
<body>
<div class="container">
    <h1>SOSRest API</h1>

    <p>Dit is de SOS REST API Emulator voor SmartEmission.<br/>
        Deze serveert de laatste sensor-metingen uit de Raw Sensor API via een geëmuleerde 52N SOS REST API. </p>
    <h2>Specificatie URLs</h2>
    <p>
        Twee services zijn aktief:
    </p>
    <ul>
        <li>Stations: <a href="{{ url_for('stations') }}">{{ url_for('stations') }} </a></li>
        <li>Laatste metingen per station (bijv station 23): <a
                href="{{ url_for('timeseries') }}?station=23&expanded=true">{{ url_for('timeseries') }}?station=23&expanded=true</a>
        </li>
    </ul>
    <h2>Stations</h2>
    <p>
        Hieronder alle stations met tijd van laatste update.
    </p>
    <table class="table table-bordered table-condensed table-responsive table-striped">
        <thead>
        <tr>
            <th>Station Id</th>
            <th>Station Naam</th>
            <th>Laatste Update</th>
            <th>Laatste Observaties</th>
        </tr>
        </thead>
        {% for station in stations %}
            <tr>
                <td>
                    {{ station['device_id'] }}
                </td>
                <td>
                    {{ station['device_name'] }}
                </td>
                <td>
                    {{ station['last_update'] }}
                </td>
                <td>
                    <a href="{{ url_for('last_updates') }}?station={{ station['device_id'] }}">Observaties &gt;&gt;</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
