# RIVM LML Measurements to SOS Observations - Stetl config
#
# Just van den Broecke - 2014
#
# This config reads raw measurement records from the core db
# table and outputs these as Observations via HTTP into an OWS SOS.

# The main Stetl ETL chain
[etl]
chains = input_measurements_dbquery|output_sos_observation_insert

# for reading files from Apache dir listing
[input_measurements_dbquery]
class = measurementsdbinput.MeasurementsDbInput
host = {host}
database = {database}
user = {user}
password = {password}
schema = {schema}
table = measurements_stations
query = SELECT * from measurements_stations WHERE gid > %d ORDER BY gid LIMIT 10
progress_query = SELECT * from etl_progress WHERE worker = 'measurements2sos'
progress_update = UPDATE etl_progress SET last_id = %d, last_update = current_timestamp WHERE worker = 'measurements2sos'

[output_std]
class = outputs.standardoutput.StandardOutput

# For inserting sensors
[output_sos_observation_insert]
class = sosoutput.SOSTOutput
host = {http_host}
port = {http_port}
path = {http_path}
user = {http_user}
password = {http_password}
method = POST
content_type = application/json;charset=UTF-8
sos_request = insert-observation
template_file_ext = json
template_file_root = sostemplates
