{"date":"$current.dateTime.format("%H:%M")",
"temp":"$current.outTemp.formatted",
"tempTL":"$day.outTemp.min.formatted",
"tempTH":"$day.outTemp.max.formatted",
"intemp":"$current.inTemp.formatted",
"dew":"$current.dewpoint.formatted",
"dewpointTL":"$day.dewpoint.min.formatted",
"dewpointTH":"$day.dewpoint.max.formatted",
"apptemp":"$current.outTemp.formatted",
"apptempTL":"$day.outTemp.min.formatted",
"apptempTH":"$day.outTemp.max.formatted",
"wchill":"$current.windchill.formatted",
"wchillTL":"$day.windchill.min.formatted",
"heatindex":"$current.heatindex.formatted",
"heatindexTH":"$day.heatindex.max.formatted",
"humidex":"0",
"wlatest":"$current.windSpeed.formatted",
"wspeed":"$current.windSpeed.formatted",
"wgust":"$current.windGust.formatted",
"wgustTM":"$day.wind.max.formatted",
#if $current.windDir.raw is None
"bearing":"0",
#else 
"bearing":"$current.windDir.formatted",
#end if
"avgbearing":"$day.wind.avg.formatted",
"press":"$current.barometer.formatted",
"pressTL":"$day.barometer.min.formatted",
"pressTH":"$day.barometer.max.formatted",
"pressL":"$year.barometer.min.formatted",
"pressH":"$year.barometer.max.formatted",
"rfall":"$day.rain.sum.formatted",
"rrate":"$current.rainRate.formatted",
"rrateTM":"0",
"hum":"$current.outHumidity.formatted",
"humTL":"$day.outHumidity.min.formatted",
"humTH":"$day.outHumidity.max.formatted",
"inhum":"$current.inHumidity.formatted",
"SensorContactLost":"0",
"forecast":"Buiten temperatuur is nu $current.outTemp.formatted bij Amersfoort CS",
"tempunit":"C",
"windunit":"m/s",
"pressunit":"mb",
"rainunit":"mm",
"temptrend":"$trend.outTemp.formatted",
"TtempTL":"$day.outTemp.mintime",
"TtempTH":"$day.outTemp.maxtime",
"TdewpointTL":"$day.dewpoint.mintime",
"TdewpointTH":"$day.dewpoint.maxtime",
"TapptempTL":"$day.outTemp.mintime",
"TapptempTH":"$day.outTemp.maxtime",
"TwchillTL":"$day.windchill.mintime",
"TheatindexTH":"$day.heatindex.maxtime",
"TrrateTM":"00:00",
"ThourlyrainTH":"$day.rain.maxtime",
"LastRainTipISO":"$day.rain.maxtime",
"hourlyrainTH":"$day.rain.maxtime",
"ThumTL":"$day.outHumidity.mintime",
"ThumTH":"$day.outHumidity.maxtime",
"TpressTL":"$day.barometer.mintime",
"TpressTH":"$day.barometer.mintime",
"presstrendval":"$trend.barometer.formatted",
"Tbeaufort":"00:00",
"TwgustTM":"$day.wind.maxtime",
"windTM":"$day.wind.maxtime",
"bearingTM":"00:00",
"timeUTC":"$current.dateTime.format("%H:%M") on $current.dateTime.format("%d %B %Y")",
"BearingRangeFrom10":"0",
"BearingRangeTo10":"0",
"UV":"0",
"UVTH":"00:00",
"SolarRad":"0",
"SolarTM":"00:00",
"CurrentSolarMax":"0",
"domwinddir":"0",
"WindRoseData":[0,0,0,0,0,0,0,0],
"windrun":"0",
"version":"2.4.4",
"build":"1",
"ver":"11"}
